.App-header {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #ffffff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-header h3 {
  text-align: center;
  margin-bottom: 2%;
}

.App-header p{
   font-size: 19px;
}

.App-header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 45%;
}

.App-header hr {
  width: 95%;
  margin-left: 1%;
}

.App-header ul li p {
  font-weight: bold;
  color: #303030;
}

.tarefas {
  margin-left: 6%;
}

.adicionarTarefas {
  text-align: center;
}

.adicionarTarefas input {
  text-align: center;
  width: 35%;
}

.adicionarTarefas button {
  width: 36%;
  height: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  border: 1px solid gray;
}

.adicionarTarefas button:hover {
  background-color: black;
  color: white;
}